.body {
    font-family: 'Gotham Pro', sans-serif;
    margin: unset;
    font-size: 0.75em;
}
.body > * {padding: 0 calc(50vw - 8.75rem)}

.header__title, .product__header, .product__price, .info__header, .stories__header, .story__header {font-size: 1.666em;}
.header__title {line-height: .95em;}

.header__arrow {
    font-size: 3.3em;
    line-height: .22em;
}

.product__name, .story__time, .footer {font-size: 1.25em;}

.info__text, .story__text {font-size: 1.166em}

.photos__header {font-size: 2.08em;}

.footer__text {font-size: 1.08em;}

.header {color: #fff;}

h1, h2, h3, h4 {margin: unset;}

a {
    text-decoration: none;
    color: inherit;
}
button {
    font: inherit;
    background: inherit;
    border: unset;
    padding: unset;
    text-transform: inherit;
    cursor: pointer;
}
label {cursor: pointer;}
button:hover, a:hover, label:hover {box-shadow: 0 12px 16px -16px rgba(0,0,0,0.24),0 17px 50px -50px rgba(0,0,0,0.19);}

.search__bar {-webkit-appearance: none;}
textarea:focus, input:focus, button:focus {outline: none;}

figure {margin: unset;}

.nav_caps, .header_caps, .product__header_caps, .stories__header_caps, .story__link_caps, .photos__header_caps { text-transform: uppercase; }
.nav_bold, .footer__header, .product__price {
    font-weight: bold;
    text-transform: uppercase;
}

.nav {
    display: grid;
    grid: 4.5rem / auto auto;
}

.nav__items, .nav__links {
    display: grid;
    text-align: center;
    grid-column: 1/-1;
}
.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link_col, .nav__signin_col, .nav__cart_col, .nav__lang_col {height: 10vw;}

.nav__home {
    display: flex;
    align-items: center;
}
.nav__logo_mob {width: 6.5rem;}
.nav__logo_desk {width: calc(6.45rem - 4.13vw);}

.nav__hamb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end;
}
.nav__bar {
    width: 2.56rem;
    height: 0.3125rem;
}
.nav__bar_black {background: black}

.nav__amount {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    color: #fff;
    background: #000;
    border-radius: 50%;
}

.nav__checkbox_none, .nav__items_none {display: none;}
.nav__checkbox:checked ~ .nav__items {display: grid;}
.nav__home_desk {display: none;}

.header {
    height: 11.94rem;
    display: grid;
    grid-template-rows: 5.4em 6.3em;
    /* background: url(../logos/rob-potter-422534-unsplash.png) no-repeat -7.5em/cover; */
    background: url(../logos/rob-potter-422534-unsplash.png) no-repeat calc(50.18vw - 20.88em)/cover;
}

.header__title {grid-area: 2;}
.header__link {
    display: flex;
    grid-area: 3;
}
.info__link {display: none;}

.product {height: 29.9em;}
.product {
    display: grid;
    height: 29.9em;
    grid-template-rows: 2.8em min-content auto;
    /* grid: 2.8em min-content auto/auto; */
}
.product__header {
    grid-area: 2;
    text-align: center;
    padding-right: .5em;
}
.product__item {grid-area: 3;}

.product__item:nth-child(3), .product__item:nth-child(4), .product__item:nth-child(5) {display: none;}

/* .footer {height: 56.125rem;} */

@media only screen and (min-width: 375px) {
    .header__title {font-size: calc(7.63vw - .719em);}
    .header__link, .story__link {font-size: calc(.364em + 2.035vw);}

    .product__header, .info__header, .stories__header {font-size: calc(.87em + 2.54vw);}
    .product__name {font-size: calc(.85em + 1.27vw);}
    .product__price, .story__header {font-size: calc(1.27em + 1.27vw);}
    
    .body > * {padding: 0 calc(3.23rem - 1vw)}

    .nav {grid: calc(2.02rem + 10.57vw) / auto auto;}
    .nav__logo_mob {width: calc(3.38rem + 13.27vw);}
    .nav__bar {
        width: calc(1.37rem + 5vw);
        height: calc(.14rem + .8vw);
    }

    .header {
        height: calc(57.06vw - 1.43rem);
        /* grid-template-rows: 10em 16em; */
        grid-template-rows: calc(1em + 14vw) calc(29.61vw - 2.96em);
        /* background: url(../logos/rob-potter-422534-unsplash.png) no-repeat -5.2em/cover; */
        background: url(../logos/rob-potter-422534-unsplash.png) no-repeat calc(-.14em - 16.18vw)/cover;
    }

    /* .product {height: 41.6em;} */
    .product {
        height: calc(18.74em + 35.73vw);
        /* grid-template-rows: 2.8em min-content auto; */
    }
}

@media only screen and (min-width: 768px) {
    .header__title {font-size: calc(9.16em - 7.81vw);}
    .header__link, .story__link {font-size: calc(3.666em - 3.125vw);}

    .product__header, .info__header, .stories__header {font-size: calc(4.5em - 3.125vw);}
    .product__name {font-size: calc(3.66em - 3.12vw);}
    .product__price {font-size: 4.83em - 4.3vw;}

    .body > * {padding: 0 calc(11rem - 17.1875vw)}
    .body > :not(.footer) {margin: 0 calc(18.36vw - 8.8125rem);}

    .header {
        /* padding: 0 4.5em; */
        padding: 0 calc(1.16em + 3.9vw);
        height: calc(56.41rem - 63.46vw);
        /* grid-template-rows: 6.3em 8em; */
        grid-template-rows: calc(21.1em - 17.34vw) calc(40em - 37.5vw);
        /* background: url(../logos/rob-potter-422534-unsplash.png) no-repeat -10.5em/cover; */
        background: url(../logos/rob-potter-422534-unsplash.png) no-repeat calc(49.23vw - 42em)/cover;
    }

    .product {height: calc(62em - 31.85vw);}
}

@media only screen and (min-width: 1024px) {
    .header__title {font-size: 2.5em;}
    .header__link, .story__link {font-size: 1em;}

    .product__header, .info__header, .stories__header {font-size: 1.83em;}
    .product__name {font-size: 1em;}
    .product__price {font-size: 1.16em;}

    .body > :not(.footer) {margin: 0 calc(15.753vw - 7.144rem);}

    .nav__hamb_none, .nav__home_mob_none {display: none;}
    .nav__home_desk {display: initial;}
    .nav__link_col, .nav__signin_col, .nav__cart_col, .nav__lang_col {height: unset;}
    .nav__checkbox:checked ~ .nav__items {display: flex;}

    .nav {
        display: flex;
        justify-content: space-between;
        height: calc(14.05rem - 9.3vw);
    }
    
    .nav__items {
        display: flex;
        justify-content: inherit;
    }
    .nav__home_desk {
        display: flex;
        align-items: center;
    }
    
    .nav__items_l {flex-basis: calc(23.34rem + 6.57vw);}
    .nav__links {
        display: inherit;
        justify-content: space-around;
        width: 23rem;
    }
    .nav__link {flex-grow: 1;}
    
    .nav__items_r {flex-basis: calc(11.48rem + 17.53vw);}
    .nav__search {
        border-bottom: 1px solid #000;
        align-self: center;
    }
    .search__bar {border: none;}
    
    .nav__cart {
        display: inline-flex;
        align-items: center;
    }

    .nav__flag {width: calc(.278rem + 1.328vw);}

    .header {
        height: calc(3.887rem + 18.616vw);
        /* grid-template-rows: 7.3em 8.6em; */
        grid-template-rows: calc(8.22vw - .71em) calc(3.8em + 4.93vw);
        background: url(../logos/rob-potter-422534-unsplash.png) no-repeat 0/cover;
    }

    .product {height: calc(57.95em - 27.12vw);}
}